.my-fixed-tabs {
  height: 350px;
  width: 650px;
  display: flex;
  flex-direction: column;
}

//.my-fixed-tabs .p-tabs-panels {
//  flex: 1 1 auto;
//  overflow-y: auto;
//}

.input-small {
    height: 1.8rem !important;     /* réduit la hauteur */
    //font-size: 0.85rem !important; /* texte plus petit */
    //padding: 0.25rem 0.5rem !important; /* réduit le padding */
}
