
    <p-fluid>
        <div class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Facture</div>
                <div class="flex flex-col md:flex-row gap-4">
                    <p-floatlabel variant="on">
                        <input pInputText id="numfact"  placeholder="N°"  [disabled]="true" class="flex-1 w-full" />
                        <label for="numfact">Fact N°</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on">
                        <p-datepicker [(ngModel)]="date"  id="on_date"   [disabled]="true"  class="flex-1 w-full" />
                        <label for="on_date">Date</label>
                    </p-floatlabel>
                    <p-select id="typeprix" [(ngModel)]="dropdownItem" [options]="dropdownItems"  placeholder="Tarif"   optionLabel="name"  class="flex-1 w-full" ></p-select>
                </div>
            </div>
        </div>

        <div class="md:w-1/2">
                <div class="card flex flex-col gap-4">
                    <div class="font-semibold text-xl">Client</div>
                    <div class="flex flex-col md:flex-row gap-4">
                            <p-autocomplete  id="prenom" [(ngModel)]="selectedClients" class="flex-1 w-full" placeholder="Client" [suggestions]="filteredClients" (completeMethod)="searchByName($event)" optionLabel="lastname" />
                    </div>

                </div>

        </div>
        </div>

<!--        <br>-->
    </p-fluid>
<!--<div class="flex items-start gap-3">-->
        <p-tabs value="0" >
            <p-tablist>
                <p-tab value="0">Description</p-tab>
                <p-tab value="1">Conditionnement</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <p-table
                        #dt
                        [scrollable]="true"
                        scrollHeight="800px"
                        [value]="listArticles"
                        [rows]="50"
                        [columns]="cols"
                        [size]="'small'"
                        [globalFilterFields]="['firstName', 'lastname', 'email', 'addresse']"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [(selection)]="selectedArticle"
                        [rowHover]="true"
                        dataKey="id"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} articles"
                        [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10, 20, 30]"
                    >

                        <ng-template #header>
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox />
                                </th>
                                <th style="min-width: 5rem">ID</th>
                                <th pSortableColumn="firstName" style="min-width:16rem">
                                    Nom
                                    <p-sortIcon field="firstName" />
                                </th>
                                <!-- <th>Image</th> -->
                                <th pSortableColumn="lastname" style="min-width: 8rem">
                                    Prénom
                                    <p-sortIcon field="lastname" />
                                </th>
                                <th pSortableColumn="email" style="min-width:10rem">
                                    Email
                                    <p-sortIcon field="email" />
                                </th>
                                <th pSortableColumn="phone" style="min-width:10rem">
                                    Télephone
                                    <p-sortIcon field="phone" />
                                </th>

                                <th pSortableColumn="addresse" style="min-width: 12rem">
                                    Adresse
                                    <p-sortIcon field="addresse" />
                                </th>
                                <th style="min-width: 12rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template #caption>
                            <div class="flex justify-between items-center">
                                <!--                                <h3 class="text-lg font-semibold">Liste des clients</h3>-->

                                <div class="flex gap-2">
                                    <p-button label="Créer" icon="pi pi-plus" class="mr-2" (onClick)="openNewDialog()" />
                                    <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedArticle || !selectedArticle.length" />
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #body let-articles let-i="rowIndex">
                            <tr>
                                <td style="width: 3rem">
                                     <p-tableCheckbox [value]="articles" />
                                </td>
                                <td style="min-width: 5rem">
                                    {{articles.id}}
                                    <!--                        <input type="text" pInputText id="name" [(ngModel)]="article.name"  />-->
                                </td>
                                <td style="min-width: 16rem">
<!--                                    <input type="text" pInputText id="name" [(ngModel)]="articles.name" [pAutoFocus]="true"  class="input-small" />-->
                                    <p-autocomplete  class="input-small" id="name" [(ngModel)]="articles.name" [pAutoFocus]="true" class="flex-1 w-full"  [suggestions]="filteredArticles" (completeMethod)="filterArticleByName($event)" optionLabel="name" />
                                </td>
                                <td style="min-width: 16rem"> </td>
                                <td></td>
                                <td > </td>
                                <td>

                                </td>
                                <td>
<!--                                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"  />-->
<!--                                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"  />-->
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #footer>
                            <tr>
                                <td colspan="3" class="text-right font-bold p-3 pb-0">Totals</td>
                                <td class="font-bold p-3 pb-0">25000</td>
                                <td class="font-bold p-3 pb-0">3000</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </p-tabpanel>
                <p-tabpanel value="1">
                </p-tabpanel>

            </p-tabpanels>

        </p-tabs>

    <p-dialog [(visible)]="pDialog" [style]="{width: '750px', height: '500px' }" header="Créer Client" [modal]="true" [resizable]="false">
        <ng-template #content>

            <div class="flex flex-col gap-6 my-fixed-tabs">
                <div>
                    <label for="nameArticle" class="block font-bold mb-3">Article</label>
<!--                    <input type="text" pInputText id="firstName" [(ngModel)]="client.firstName" required autofocus fluid />-->
                    <p-autocomplete id="nameArticle" [(ngModel)]="nameArticle" fluid  [pAutoFocus]="true"  [suggestions]="filteredArticles" required (completeMethod)="filterArticleByName($event)" optionLabel="name" />
                </div>
                <div>
                    <span class="block font-bold mb-4">Conditionnement</span>
                    <div class="grid grid-cols-12 gap-4">
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="cageot" name="cageot" value="Cageots" [(ngModel)]="cageot" />
                            <label for="cageot">Accessories</label>
                        </div>
                        <div class="flex items-center gap-2 col-span-6">
                            <p-radiobutton id="num_piece" name="piece" value="Clothing" [(ngModel)]="piece" />
                            <label for="piece">Pièce</label>
                        </div>
                    </div>
                </div>

            </div>

        </ng-template>

        <ng-template #footer>
            <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Save" icon="pi pi-check" (click)="saveClient()" />
        </ng-template>
    </p-dialog>

    <p-confirmdialog [style]="{ width: '450px' }" />






