<p-toolbar styleClass="mb-6">
            <ng-template #start>
<!--                <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />-->
                <p-button label="Créer" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNewDialog()" />
                <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedArticles || !selectedArticles.length" />
<!--                <p-button label="Créer" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNewDialog()" />-->
            </ng-template>

            <ng-template #end>
                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="listArticles()"
            [rows]="10"
            [columns]="cols"
            [paginator]="true"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedArticles"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} articles"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
        >
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Liste des articles</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox />
                    </th>
                    <th style="min-width: 16rem">Code</th>
                    <th pSortableColumn="name" style="min-width:16rem">
                        Nom
                        <p-sortIcon field="name" />
                    </th>
                    <!-- <th>Image</th> -->
                    <th pSortableColumn="prix" style="min-width: 8rem">
                        Prix de Gros
                        <p-sortIcon field="prix" />
                    </th>
                    <th pSortableColumn="category" style="min-width:10rem">
                        Categorie
                        <p-sortIcon field="category" />
                    </th>
                    <th pSortableColumn="rating" style="min-width: 12rem">
                        Reviews
                        <p-sortIcon field="rating" />
                    </th>
                    <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                        Status
                        <p-sortIcon field="inventoryStatus" />
                    </th>
                    <th pSortableColumn="fournisseur" style="min-width: 12rem">
                        Fournisseur
                        <p-sortIcon field="fournisseur" />
                    </th>
                    <th style="min-width: 12rem"></th>
                </tr>
            </ng-template>
            <ng-template #body let-article>
                <tr>
                    <td style="width: 3rem">
                        <p-tableCheckbox [value]="article" />
                    </td>
                    <td style="min-width: 12rem">{{ article.code }}</td>
                    <td style="min-width: 16rem">{{ article.name }}</td>
                    <!-- <td>
                        <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + article.image" [alt]="article.name" style="width: 64px" class="rounded" />
                    </td> -->
                    <td>
                        @if(article.prixList[1] !== undefined){
                            {{ article.prixList[1].valeur }}
                        } @else {
                            0.0
                        }
                    </td>
                    <td>{{ article.type.message }}</td>
                    <td>
                        <p-rating [(ngModel)]="article.rating" [readonly]="true" />
                    </td>
                    <td>
                        <p-tag [value]="getSeverity(article.isActif)" [severity]="getSeverity(article.isActif)" />
                    </td>
                    <td>
                        {{ article.fournisseur.code }}
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(article)" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(article)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>



        <p-dialog [(visible)]="pDialog" [style]="{ width: '700px', height: '600px' }" header="Créer Produit" [modal]="true" [resizable]="false">
            <ng-template #content>
                <!-- <div class="flex flex-col gap-6"> -->
                <div class="flex flex-col gap-6">

                        <p-tabs value="0" class="my-fixed-tabs">
                            <p-tablist>
                                <p-tab value="0">Description</p-tab>
                                <p-tab value="1">Conditionnement</p-tab>
                                <p-tab value="2">Prix</p-tab>
                            </p-tablist>
                            <p-tabpanels>
                                <p-tabpanel value="0">
                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        <label for="code" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Code</label>
                                        <div class="col-span-12 md:col-span-10">
                                            <input type="text" pInputText id="code" [(ngModel)]="article.code" required autofocus fluid />
                                            @if (submitted && !article.code){
                                                <small class="text-red-500">Code is required.</small>
                                            }
                                        </div>
                                    </div>
                                    <br>
                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        <label for="name" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Name</label>
                                        <div class="col-span-12 md:col-span-10">
                                            <input type="text" pInputText id="name" [(ngModel)]="article.name" required autofocus fluid />
                                            @if (submitted && !article.name){
                                                <small class="text-red-500">Name is required.</small>
                                            }
<!--                                            <small class="text-red-500" *ngIf="submitted && !article.name">Name is required.</small>-->
                                        </div>
                                    </div>
                                    <br>
                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        <label for="fournisseur" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Fournisseur</label>
                                        <div class="col-span-12 md:col-span-10">
                                            <p-select [(ngModel)]="article.fournisseur" inputId="fournisseur" [options]="fournisseurList" optionLabel="name"  placeholder="Selectionner un fournisseur" fluid />
                                        </div>
                                    </div>
                                    <br>
                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        <label for="type" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Famille</label>
                                        <div class="col-span-12 md:col-span-10">
                                            <p-select [(ngModel)]="article.type" inputId="type" [options]="type" optionLabel="message"  placeholder="Selectionner une famille" fluid />
                                        </div>
                                    </div>
                                     <br>
                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        <label for="categorie" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Catégorie</label>
                                        <div class="col-span-12 md:col-span-10">
                                            <p-select [(ngModel)]="article.conditionnement" inputId="categorie" [options]="categories" optionLabel="label" optionValue="label" placeholder="Selectionner un catégorie" fluid />
                                        </div>
                                    </div>
                                     <br>
                                    <div class="grid grid-cols-12 gap-4">
                                        <div class="flex items-center gap-2 col-span-6">
                                            <p-checkBox id="actif" name="category" binary="true" [(ngModel)]="article.isActif" />
                                            <label for="category1">Actif</label>
                                        </div>
                                    </div>

                                </p-tabpanel>
                                <p-tabpanel value="1">
                                     <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-3">
                                        <label for="emballage" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Emballage</label>
                                        <div class="col-span-12 md:col-span-4">
                                            <p-select [(ngModel)]="conditionnement.articleBtl" inputId="emballage" [options]="listBottle" optionLabel="name" optionValue="id" placeholder="Selectionner le bouteille" fluid />
                                        </div>
                                        <div class="col-span-12 md:col-span-4">
                                            <p-select [(ngModel)]="conditionnement.articleCgt"  [options]="listCageot" optionLabel="name" optionValue="id" placeholder="Selectionner le cageot" fluid />
                                        </div>
                                    </div>
                                    <br>

                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        <label for="bouteille" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">Nbre de bouteille / Cgt</label>
                                        <div class="col-span-12 md:col-span-10">
                                            <p-inputnumber id="bouteille" [(ngModel)]="conditionnement.nbreBtl" fluid />
                                        </div>

                                    </div>
                                    <br>

                                </p-tabpanel>
                                <p-tabpanel value="2">
                                    <div class="grid grid-cols-12 gap-4 grid-cols-12 gap-2">
                                        @for(prixType of prixtypeList; track prixType.id; let i = $index){
                                            <label for="prixType.code" class="flex font-bold items-center col-span-12 mb-2 md:col-span-2 md:mb-0">{{prixType.libelle}}</label>
                                            <div class="col-span-12 md:col-span-10">
                                                <p-inputnumber id="listPrix[i]" [(ngModel)]="listPrix[i].valeur"   fluid />
    <!--                                            <small class="text-red-500" *ngIf="submitted && !article.code">Code is required.</small>-->
                                            </div>
                                        }

                                    </div>
                                </p-tabpanel>
                            </p-tabpanels>
                        </p-tabs>

                </div>
            </ng-template>

            <ng-template #footer>
                <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                <p-button label="Save" icon="pi pi-check" (click)="saveArticle()" />
            </ng-template>
        </p-dialog>

        <p-confirmdialog [style]="{ width: '450px' }" />
